.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Model training files and binaries in atlas-core
**/model training/*.bin
**/model training/*.ftz
**/model training/*.vec
**/model training/intents.txt

# Model files packaged in app assets
/app/src/main/assets/*.bin
/app/src/main/assets/*.ftz
/app/src/main/assets/*.vec
